@import 'tailwindcss/base';
@import '../../../libs/shared/ui/src/styles.css';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
  :root {
    --font-sans: 'Inter Variable', san-serif;
    --black: 0 0% 0.2%;
    --white: 0 0% 98%;
  }
  html, body, #root {
    @apply h-dvh;
    @apply max-h-dvh;
  }
}
